@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

:root {
  font-size: calc(0.7em + 1vw);
  box-sizing: border-box;
  --yellow: hsl(56, 77%, 55%);
  --dark-green: #3f4c2f;
  --dark-vanila: #d4caa3;
  --black-primary: #202020;
  --black-secondary: hsl(0, 0%, 21%);
  --white-primary: #f8f8f8;
  --gray-primary: #d3d3d3;

  --brown-primary: #a68c5d;

  --white-secondary: #d8d8d8;
  --white-opaque: hsla(0, 0%, 85%, 0.41);
}

@media (min-width: 30em) {
  :root {
    font-size: calc(0.65em + 1vw);
  }
}

@media (min-width: 40em) {
  :root {
    font-size: 1rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Noto Serif", serif;
  color: var(--white-primary);
  background-color: var(--black-primary);
  line-height: 1.4;
}


a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: .9;
}

p {
  margin: 0;
}
